<!DOCTYPE html>
<html lang="en">
<body>
	<!-- list -->
	<div class="y_1440 list_part">
		<div class="list_right">
			<div class="tab_box">
				<div>
					<div class="list_head">
						<div class="list_head_title"><a href="#">党建活动</a>><a href="#">详情</a></div>
					</div>
					<div class="detail_content">
						<h1>2020第四届丝绸之路网络安全论坛举行</h1>
						<h4>2021-12-06</h4>
						<p>
							8月20日，由陕西省委网信办、陕西省公安厅、陕西省国家密码管理局、
							<img src="./images/example_pic.png">
							陕西省工信厅、陕西省网络社会组织联合会指导，陕西省信息网络安全协会主办，中国网络安全审查技术与认证中心、
							陕西省商用密码协会、西安未来国际信息股份有限公司、西安四叶草信息技术有限公司、西安得安信息技术有限公司、
							西安尚易安华信息科技有限责任公司、
							龙芯中科（西安）科技有限公司协办的2020第四届丝绸之路网络安全论坛在陕西宾馆举行。陕西网为您带来现场直播。
						</p>
					</div>
				</div>
				<div class="hide">
					<div class="list_head">
						<div class="list_head_title"><a href="#">交流活动</a>><a href="#">详情</a></div>
					</div>
					<div class="detail_content">
						<h1>2020第四届丝绸之路网络安全论坛举行</h1>
						<h4>2021-12-06</h4>
						<p>
							8月20日，由陕西省委网信办、陕西省公安厅、陕西省国家密码管理局、
							<img src="./images/example_pic.png">
							陕西省工信厅、陕西省网络社会组织联合会指导，陕西省信息网络安全协会主办，中国网络安全审查技术与认证中心、
							陕西省商用密码协会、西安未来国际信息股份有限公司、西安四叶草信息技术有限公司、西安得安信息技术有限公司、
							西安尚易安华信息科技有限责任公司、
							龙芯中科（西安）科技有限公司协办的2020第四届丝绸之路网络安全论坛在陕西宾馆举行。陕西网为您带来现场直播。
						</p>
					</div>
				</div>
				<div class="hide">
					<div class="list_head">
						<div class="list_head_title"><a href="#">教育培训</a>><a href="#">详情</a></div>
					</div>
					<div class="detail_content">
						<h1>2020第四届丝绸之路网络安全论坛举行</h1>
						<h4>2021-12-06</h4>
						<p>
							8月20日，由陕西省委网信办、陕西省公安厅、陕西省国家密码管理局、
							<img src="./images/example_pic.png">
							陕西省工信厅、陕西省网络社会组织联合会指导，陕西省信息网络安全协会主办，中国网络安全审查技术与认证中心、
							陕西省商用密码协会、西安未来国际信息股份有限公司、西安四叶草信息技术有限公司、西安得安信息技术有限公司、
							西安尚易安华信息科技有限责任公司、
							龙芯中科（西安）科技有限公司协办的2020第四届丝绸之路网络安全论坛在陕西宾馆举行。陕西网为您带来现场直播。
						</p>
					</div>
				</div>
				<div class="hide">
					<div class="list_head">
						<div class="list_head_title"><a href="#">安全服务</a>><a href="#">详情</a></div>
					</div>
					<div class="detail_content">
						<h1>2020第四届丝绸之路网络安全论坛举行</h1>
						<h4>2021-12-06</h4>
						<p>
							8月20日，由陕西省委网信办、陕西省公安厅、陕西省国家密码管理局、
							<img src="./images/example_pic.png">
							陕西省工信厅、陕西省网络社会组织联合会指导，陕西省信息网络安全协会主办，中国网络安全审查技术与认证中心、
							陕西省商用密码协会、西安未来国际信息股份有限公司、西安四叶草信息技术有限公司、西安得安信息技术有限公司、
							西安尚易安华信息科技有限责任公司、
							龙芯中科（西安）科技有限公司协办的2020第四届丝绸之路网络安全论坛在陕西宾馆举行。陕西网为您带来现场直播。
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>