<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="y_1440 list_part">
		<div class="list_left">
			<div class="list_left_top">协会工作</div>
			<div class="tab1">
				<div class="tab_menu">
					<ul>
						<li {% if kind == '1' %}class="selected"{% endif %}>党建活动</li>
						<li {% if kind == '2' %}class="selected"{% endif %}>交流活动</li>
						<li {% if kind == '3' %}class="selected"{% endif %}>教育培训</li>
						<li {% if kind == '4' %}class="selected"{% endif %}>安全服务</li>
						<div class="c"></div>
					</ul>
				</div>
			</div>
		</div>
		<div class="list_right">
			<div class="tab_box">
				<div>
					<div class="list_head">
						<div class="list_head_title">党建活动</div>
						<div class="search list_head_search">
							<form name="" method="post" action="">
								<input class="search_input" type="text" name="" id="" value="" placeholder="请输入...">
								<input class="btn_srh" type="submit" name="submit" value="">
							</form>
						</div>
					</div>
                    {% for query in querys %}
                        <a href="#">
                            <div class="tab2_part">
                                <div class="tab2_part_time">
                                    <h1>01</h1>
                                    <p>2021-02</p>
                                </div>
                                <div class="tab2_part_content">
                                    <h1>{{ query.name }}</h1>
                                    <p>为加强网络安全行业交流和协作，8月20日，由辽宁省委网信办、辽宁省公安厅、辽宁省国家密码管理局、辽宁省网络社会组织联合会指导...</p>
                                </div>
                            </div>
                        </a>
					{% endfor %}
					<!-- 分页 -->
					<div class="page">
						<a href=""><span class="pageup">上一页</span></a>
						<ul class="pagenumberBox">
							<a href="">
								<li class="on">1</li>
							</a>
							<a href="">
								<li>2</li>
							</a>
							<a href="">
								<li>3</li>
							</a>
							<a href="">
								<li>4</li>
							</a>
						</ul>
						<a href=""><span class="nextPage">下一页</span></a>
					</div>
				</div>
				<div class="hide">
					<div class="list_head">
						<div class="list_head_title">交流活动</div>
						<div class="search list_head_search">
							<form name="" method="post" action="">
								<input class="search_input" type="text" name="" id="" value="" placeholder="请输入...">
								<input class="btn_srh" type="submit" name="submit" value="">
							</form>
						</div>
					</div>
					{%  for query in querys %}
                        <a href="#">
                            <div class="tab2_part">
                                <div class="tab2_part_time">
                                    <h1>01</h1>
                                    <p>2021-02</p>
                                </div>
                                <div class="tab2_part_content">
                                    <h1>{{ query.name }}</h1>
                                    <p>为加强网络安全行业交流和协作，8月20日，由辽宁省委网信办、辽宁省公安厅、辽宁省国家密码管理局、辽宁省网络社会组织联合会指导...</p>
                                </div>
                            </div>
                        </a>
					{% endfor %}
					<!-- 分页 -->
					<div class="page">
						<a href=""><span class="pageup">上一页</span></a>
						<ul class="pagenumberBox">
							<a href="">
								<li class="on">1</li>
							</a>
							<a href="">
								<li>2</li>
							</a>
							<a href="">
								<li>3</li>
							</a>
							<a href="">
								<li>4</li>
							</a>
						</ul>
						<a href=""><span class="nextPage">下一页</span></a>
					</div>
				</div>
				<div class="hide">
					<div class="list_head">
						<div class="list_head_title">教育培训</div>
						<div class="search list_head_search">
							<form name="" method="post" action="">
								<input class="search_input" type="text" name="" id="" value="" placeholder="请输入...">
								<input class="btn_srh" type="submit" name="submit" value="">
							</form>
						</div>
					</div>
                    {% for query in querys %}
                        <a href="#">
                            <div class="tab2_part">
                                <div class="tab2_part_time">
                                    <h1>01</h1>
                                    <p>2021-02</p>
                                </div>
                                <div class="tab2_part_content">
                                    <h1>{{ query.name }}</h1>
                                    <p>为加强网络安全行业交流和协作，8月20日，由辽宁省委网信办、辽宁省公安厅、辽宁省国家密码管理局、辽宁省网络社会组织联合会指导...</p>
                                </div>
                            </div>
                        </a>
					{% endfor %}
					<!-- 分页 -->
					<div class="page">
						<a href=""><span class="pageup">上一页</span></a>
						<ul class="pagenumberBox">
							<a href="">
								<li class="on">1</li>
							</a>
							<a href="">
								<li>2</li>
							</a>
							<a href="">
								<li>3</li>
							</a>
							<a href="">
								<li>4</li>
							</a>
						</ul>
						<a href=""><span class="nextPage">下一页</span></a>
					</div>
				</div>
				<div class="hide">
					<div class="list_head">
						<div class="list_head_title">安全服务</div>
						<div class="search list_head_search">
							<form name="" method="post" action="">
								<input class="search_input" type="text" name="" id="" value="" placeholder="请输入...">
								<input class="btn_srh" type="submit" name="submit" value="">
							</form>
						</div>
					</div>
					{% for query in querys %}
                        <div class="tab2_part aqfw">
                            <div class="tab2_part_time">
                                <h1>01</h1>
                                <p>2021-02</p>
                            </div>
                            <div class="tab2_part_content">
                                <h1>{{ query.name }}</h1>
                                <p>为加强网络安全行业交流和协作，8月20日，由辽宁省委网信办、辽宁省公安厅、辽宁省国家密码管理局、辽宁省网络社会组织联合会指导...</p>
                            </div>
                            <a href="#">
                                <div class="mousego">点击前往</div>
                            </a>
                        </div>
					{% endfor %}
					<!-- 分页 -->
					<div class="page">
						<a href=""><span class="pageup">上一页</span></a>
						<ul class="pagenumberBox">
							<a href="">
								<li class="on">1</li>
							</a>
							<a href="">
								<li>2</li>
							</a>
							<a href="">
								<li>3</li>
							</a>
							<a href="">
								<li>4</li>
							</a>
						</ul>
						<a href=""><span class="nextPage">下一页</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
     <script type="text/javascript">
        var $left_li = $("div.tab_menu ul li");
        console.log("$left_li", $left_li)
        $left_li.click(function () {
            var association_id = $left_li.index(this) + 1;
            console.log('association_id', association_id)
            $.ajax({
                    url: "{{ url_for('NetSecurity.test') }}",
                    type: 'GET',
                    contentType: "application/json",
                    data:{kind:association_id},
                    dataType:"html",
                    success:function (data) {
                        console.log('success', data)
                        $(".list_part").html(data)
                    },
                    error:function (err) {
                        console.log('err', err)
                    }
                })
        })

    </script>
</body>
</html>