{% extends 'NetSecurity/basic.html' %}

{% block banner %}
    <div class="y_banner">
		<div class="swiper-wrapper">
            {% for whole in whole_banners %}
                <div class="swiper-slide" onclick="half_to_detail({{ whole.sort }}, {{ whole.kind }}, {{ whole.o_id }})">
                    <div style="background: url({{ whole.banner_url }}) top center no-repeat;height: 300px;">
                    </div>
                </div>
            {% endfor %}
		</div>
	</div>
{% endblock %}

{% block content %}
    <div class="part1 y_1440">
        <div class="part1_lunbo">
			<div class="swiper-wrapper">
                {% for half_banner in half_banners %}
                    <div class="swiper-slide">
                        <div class="part1_pic" onclick="half_to_detail({{ half_banner.sort }}, {{ half_banner.kind }}, {{ half_banner.o_id }})">
                            <img src="{{ half_banner.banner_url }}">
                        </div>
                    </div>
				{% endfor %}
			</div>
		</div>
		<div class="part1_tip">
			<div class="part1_tip_head">
				<div class="tip_title">通知公告</div>
				<div class="tip_lookall mainmenu" onclick="tzgg_all()">查看全部>></div>
			</div>
			<div class="part1_tip_content">
				<ul>
                    {% for notice in notices %}
                        <li onclick="tzgg_detail({{ notice.id }})" class="mainmenu">
{#                                <div class="point">·</div>#}
                                <div class="part1_tip_title">{% if notice.if_new %}<img src="../../static/img/new.png">{% endif %}{{ notice.name }}</div>
                                <div class="part1_tip_content_date">{{ notice.adddate }}</div>
                        </li>
                    {% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="part2 y_1440">
		<div class="tab1">
			<div class="tab_menu">
				<ul>
					<li class="selected">党建活动</li>
					<li>交流活动</li>
					<li>教育培训</li>
					<li>安全服务</li>
					<div class="c"></div>
				</ul>
			</div>
			<div class="tab_box">
				<div>
                    {% for building in buildings %}
                        <div class="tab2_part" onclick="xhgz_detail(1, {{ building.id }})">
                            <div class="tab2_part_time">
                                <h1>{{ building.addtime|date_format|get_day }}</h1>
                                <p>{{ building.addtime|date_format|get_year_month }}</p>
                            </div>
                            <div class="tab2_part_content">
                                <h1>{% if building.if_new %}<img src="../../static/img/new.png">{% endif %}{{ building.name }}</h1>
                                <p>{{ building.content|striptags|trim|truncate(60) }}</p>
                            </div>
                        </div>
                    {% endfor %}
						<div class="tab1_part_lookall mainmenu" onclick="xhgz_all(1)">查看全部>></div>
				</div>
				<div class="hide">
                    {% for communication in communications %}
                        <div class="tab2_part" onclick="xhgz_detail(2, {{ communication.id }})">
                            <div class="tab2_part_time">
                                <h1>{% if communication.if_new %}<img src="../../static/img/new.png">{% endif %}{{ communication.addtime|date_format|get_day }}</h1>
                                <p>{{ communication.addtime|date_format|get_year_month }}</p>
                            </div>
                            <div class="tab2_part_content">
                                <h1>{{ communication.name }}</h1>
                                <p>{{ communication.content|striptags|trim|truncate(60) }}</p>
                            </div>
                        </div>
					{% endfor %}
						<div class="tab1_part_lookall mainmenu" onclick="xhgz_all(2)">查看全部>></div>
				</div>
				<div class="hide">
                    {% for education in educations %}
                        <div class="tab2_part" onclick="xhgz_detail(3, {{ education.id }})">
                            <div class="tab2_part_time">
                                <h1>{{ education.addtime|date_format|get_day }}</h1>
                                <p>{{ education.addtime|date_format|get_year_month }}</p>
                            </div>
                            <div class="tab2_part_content">
                                <h1>{% if education.if_new %}<img src="../../static/img/new.png">{% endif %}{{ education.name }}</h1>
                                <p>{{ education.content|striptags|trim|truncate(60) }}</p>
                            </div>
                        </div>
					{% endfor %}
						<div class="tab1_part_lookall mainmenu" onclick="xhgz_all(3)">查看全部>></div>
				</div>
				<div class="hide">
                    {% for service in services %}
                        <div class="tab1_part">
                            <div class="tab1_part_time">
                                <h1>{{ service.addtime|date_format|get_day }}</h1>
                                <p>{{ service.addtime|date_format|get_year_month }}</p>
                            </div>
                            <div class="tab1_part_content">
                                <h1>{% if service.if_new %}<img src="../../static/img/new.png">{% endif %}{{ service.name }}</h1>
                                <h3>{{ service.desc }}</h3>
                                {% if service.mold == '1' %}
                                    <p><a href="{{ service.link }}">点击前往</a></p>
                                {% else %}
                                    <p><a href="{{ service.file_dir }}" download="{{ service.file_name }}">点击下载</a></p>
                                {% endif %}
                            </div>
                        </div>
					{% endfor %}
						<div class="tab1_part_lookall mainmenu" onclick="aqfw_all()">查看全部>></div>
				</div>
			</div>
		</div>
		<div class="tab2">
			<div class="tab_menu">
				<ul>
					<li class="selected">热点关注</li>
					<li>网安动态</li>
					<li>漏洞发布</li>
					<li>安全事件</li>
					<div class="c"></div>
				</ul>
			</div>
			<div class="tab_box">
				<div>
					{% for hot_concern in hot_concerns %}
                        <div class="tab2_part" onclick="hydt_detail(1,{{ hot_concern.id }})">
                            <div class="tab2_part_time">
                                <h1>{{ hot_concern.addtime|date_format|get_day }}</h1>
                                <p>{{ hot_concern.addtime|date_format|get_year_month }}</p>
                            </div>
                            <div class="tab2_part_content">
                                <h1>{% if hot_concern.if_new %}<img src="../../static/img/new.png">{% endif %}{{ hot_concern.name}}</h1>
                                <p>{{ hot_concern.content|striptags|trim|truncate(60) }}</p>
                            </div>
                        </div>
					{% endfor %}
						<div class="tab2_part_lookall mainmenu" onclick="hydt_all(1)">查看全部>></div>
				</div>
				<div class="hide">
					{% for security_dynamic in security_dynamics %}
                        <div class="tab2_part" onclick="hydt_detail(2,{{ security_dynamic.id }})">
                            <div class="tab2_part_time">
                                <h1>{{ security_dynamic.addtime|date_format|get_day }}</h1>
                                <p>{{ security_dynamic.addtime|date_format|get_year_month }}</p>
                            </div>
                            <div class="tab2_part_content">
                                <h1>{% if security_dynamic.if_new %}<img src="../../static/img/new.png">{% endif %}{{ security_dynamic.name }}</h1>
                                <p>{{ security_dynamic.content|striptags|trim|truncate(60) }}</p>
                            </div>
                        </div>
					{% endfor %}
						<div class="tab2_part_lookall mainmenu" onclick="hydt_all(2)">查看全部>></div>
				</div>
				<div class="hide">
                    {% for leak_release in leak_releases %}
                        <div class="tab2_part" onclick="hydt_detail(3,{{ leak_release.id }})">
                            <div class="tab2_part_time">
                                <h1>{{ leak_release.addtime|date_format|get_day }}</h1>
                                <p>{{ leak_release.addtime|date_format|get_year_month }}</p>
                            </div>
                            <div class="tab2_part_content">
                                <h1>{% if leak_release.if_new %}<img src="../../static/img/new.png">{% endif %}{{ leak_release.name }}</h1>
                                <p>{{ leak_release.content|striptags|truncate(50) }}</p>
                            </div>
                        </div>
					{% endfor %}
						<div class="tab2_part_lookall mainmenu" onclick="hydt_all(3)">查看全部>></div>
				</div>
				<div class="hide">
					{% for security_event in security_events %}
                        <div class="tab2_part" onclick="hydt_detail(4,{{ security_event.id }})">
                            <div class="tab2_part_time">
                                <h1>{{ security_event.addtime|date_format|get_day }}</h1>
                                <p>{{ security_event.addtime|date_format|get_year_month }}</p>
                            </div>
                            <div class="tab2_part_content">
                                <h1>{% if security_event.if_new %}<img src="../../static/img/new.png">{% endif %}{{ security_event.name }}</h1>
                                <p>{{ security_event.content|striptags|truncate(50) }}</p>
                            </div>
                        </div>
					{% endfor %}
                    <div class="tab2_part_lookall mainmenu" onclick="hydt_all(4)">查看全部>></div>
				</div>
			</div>
		</div>
	</div>
	<div class="part3 y_1440">
		<div class="normal_tip_head">
			<div class="tip_title">法律法规</div>
				<div class="tip_lookall mainmenu" onclick="flfg_all()">查看全部&gt;&gt;</div>
		</div>
		<div>
            {% for law in laws %}
                <div class="part3_part" onclick="flfg_detail({{ law.id }})">
                    <div class="tab2_part_time">
                        <h1>{{ law.addtime|date_format|get_day }}</h1>
                        <p>{{ law.addtime|date_format|get_year_month}}</p>
                    </div>
                    <div class="tab2_part_content">
                        <h1>{% if law.if_new %}<img src="../../static/img/new.png">{% endif %}{{ law.name }}</h1>
                        <p>{{ law.content|striptags|truncate(30) }}</p>
                    </div>
                </div>
		    {% endfor %}
        </div>
	</div>
	<div class="part4 y_1440">
		<div class="normal_tip_head">
			<div class="tip_title">协会负责人</div>
				<div class="tip_lookall mainmenu" onclick="xhfzr_all(4)">查看全部&gt;&gt;</div>
		</div>
		<div class="part4_example">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					{% for leader in leaders %}
                        <div class="example">
                            <div class="example_pic"><img src="{{ leader.photo }}"></div>
                            <div class="example_content">
                                <div class="example_name">姓名：<span>{{ leader.name }}</span></div>
                                <div class="example_job">职务：<span>{{ leader.duty }}</span></div>
                                <div class="example_area">工作单位：<span>{{ leader.company }}</span></div>
                            </div>
                        </div>
                    {% endfor %}
				</div>
			</div>
{#			<div class="swiper-button-next"></div>#}
{#			<div class="swiper-button-prev"></div>#}
		</div>
	</div>
	<div class="part5 y_1440">
		<div class="normal_tip_head">
			<div class="tip_title">理事单位</div>
				<div class="tip_lookall mainmenu" onclick="lsdw_all(5)">查看全部&gt;&gt;</div>
		</div>
        {% for director in director_company %}
            <div class="part5_part">
                <div class="part5_pic"><img src="{{ director.logo }}"></div>
                <div class="part5_content">
                    <h1>{{ director.name }}</h1>
                    <p>{{ director.desc }}</p>
                </div>
            </div>
        {% endfor %}
	</div>
	<div class="part6 y_1440">
		<div class="normal_tip_head">
			<div class="tip_title">支持单位</div>
				<div class="tip_lookall mainmenu" onclick="zcdw_all(6)">查看全部&gt;&gt;</div>
		</div>
		<div class="part6_part">
            {% for support in support_company %}
                    <div><img src="{{ support.logo }}" alt="{{ support.name }}"></div>
            {% endfor %}
		</div>
	</div>
	<div class="part7 y_1440">
		<div class="normal_tip_head">
			<div class="tip_title">会员单位</div>
				<div class="tip_lookall mainmenu" onclick="hydw_all(7)">查看全部&gt;&gt;</div>
		</div>
		<div class="part7_part">
            {% for member in member_company %}
                    <div><img src="{{ member.logo }}" alt="{{ member.name }}"></div>
            {% endfor %}
		</div>
	</div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
    $(function () {
        // part1图轮播
		var part1_lunbo = new Swiper(".part1_lunbo", {
			autoplay: true,
			loop: true,
			autoplay: {
				delay: 3000,
				stopOnLastSlide: false,
				disableOnInteraction: true,
			},
		});
    })
    // tab切换
    var $div_li = $("div.tab_menu ul li");
    $div_li.click(function () {
        $(this).addClass("selected")            //当前<li>元素高亮
            .siblings().removeClass("selected");  //去掉其它同辈<li>元素的高亮
        var index = $div_li.index(this);  // 获取当前点击的<li>元素 在 全部li元素中的索引。
        task_id = index + 1
        $(".show_list").show()
        $(".detail").empty()
        $("div.tab_box > div")   	//选取子节点。不选取子节点的话，会引起错误。如果里面还有div
            .eq(index).show()   //显示 <li>元素对应的<div>元素
            .siblings().hide(); //隐藏其它几个同辈的<div>元素
    }).hover(function () {
        $(this).addClass("hover");
    }, function () {
        $(this).removeClass("hover");
    })
    let task_id = 1
     // 协会工作查看全部
     function xhgz_all(params) {
                window.location.href = "/NetSecurity/xhgz?sc=" + params
     }
     function aqfw_all() {
            window.location.href = "/NetSecurity/aqfw"
     }
     // 行业动态查看全部
    function hydt_all(params) {
        window.location.href = "/NetSecurity/hydt?sc=" + params
    }
    // 协会负责人查看全部
    function xhfzr_all(params) {
        window.location.href = "/NetSecurity/xhgk?sc=" + params
    }
     // 理事单位查看全部
    function lsdw_all(params) {
        window.location.href = "/NetSecurity/xhgk?sc=" + params
    }
    // 会员单位查看全部
    function hydw_all(params) {
        window.location.href = "/NetSecurity/xhgk?sc=" + params
    }
     // 支持单位查看全部
    function zcdw_all(params) {
        window.location.href = "/NetSecurity/xhgk?sc=" + params
    }
    // 通知公告查看全部
     function tzgg_all() {
        window.location.href = '/NetSecurity/tzgg'
     }
    // 法律法规查看全部
    function flfg_all() {
        window.location.href = '/NetSecurity/flfg'
    }
    // 通知公告详情
    function tzgg_detail(params) {
        window.location.href = '/NetSecurity/tzggxq?pid=' + params
    }
    // 协会工作详情
    function xhgz_detail(sc, params) {
        window.location.href = '/NetSecurity/xhgzxq?sc='+ sc + '&pid=' + params
    }
    // 行业动态详情
    function hydt_detail(sc, params) {
            window.location.href = '/NetSecurity/hydtxq?sc=' + sc + '&pid=' + params
    }
    // 法律法规详情
    function flfg_detail(params) {
            window.location.href = '/NetSecurity/flfgxq?pid=' + params
    }
    // 半轮播跳转
    function half_to_detail(sort, kind, o_id) {
        if (sort === 1){
            window.location.href = '/NetSecurity/xhgzxq?sc=' + kind + '&pid=' + o_id
        } else if (sort === 2) {
            window.location.href = '/NetSecurity/hydtxq?sc=' + kind + '&pid=' + o_id
        } else if (sort === 3) {
            window.location.href = '/NetSecurity/tzggxq?pid=' + o_id
        }
    }
    </script>
{% endblock %}