<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>辽宁省信息网络安全协会</title>
	<link rel="stylesheet" href="../../static/css/pc_base.css">
	<link rel="stylesheet" href="../../static/css/pc_style.css">
	<link href="../../static/css/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
	<script src="../../static/js/jquery.js"></script>
	<script type="text/javascript" src="../../static/js/swiper-bundle.min.js"></script>
	<!-- swiper样式 -->
	<style>
		.swiper-button-prev,
		.swiper-container-rtl .swiper-button-next {
			color: #000;
		}

		.swiper-button-next,
		.swiper-container-rtl .swiper-button-prev {
			color: #000;
		}
	</style>
</head>

<body>
	<div class="header">
		<div class="y_1440">
			<a href="#">
				<div class="memberregister">会员注册</div>
			</a>
			<a href="#">
				<div class="memberlogin">会员登录</div>
			</a>
		</div>
	</div>
	<div class="head">
		<div class="y_1440">
			<div class="logo"><img src="../../static/img/logo.png"></div>
			<div class="nav">
				<ul>
					<li><a class="link" href="#">首页</a></li>
					<li class="mainmenu">
						<a class="link" href="#">协会概况</a>
						<dl>
							<dd><a href="#">协会简介</a></dd>
							<dd><a href="#">协会章程</a></dd>
							<dd><a href="#">分支机构</a></dd>
							<dd><a href="#">协会负责人</a></dd>
							<dd><a href="#">理事单位</a></dd>
							<dd><a href="#">支撑单位</a></dd>
							<dd><a href="#">会员单位</a></dd>
							<dd><a href="#">会费标准</a></dd>
						</dl>
					</li>
					<li class="mainmenu">
						<a class="link" href="#">协会工作</a>
						<dl class="dl_association">
{#							<dd><a href="#">党建活动</a></dd>#}
{#							<dd><a href="#">交流活动</a></dd>#}
{#							<dd><a href="#">教育培训</a></dd>#}
{#							<dd><a href="#">安全服务</a></dd>#}
                            <dd class="association">党建活动</dd>
							<dd class="association">交流活动</dd>
							<dd class="association">教育培训</dd>
							<dd class="association">安全服务</dd>
						</dl>
					</li>
					<li class="mainmenu">
						<a class="link" href="#">行业动态</a>
						<dl>
							<dd><a href="#">热点关注</a></dd>
							<dd><a href="#">网安动态</a></dd>
							<dd><a href="#">漏洞发布</a></dd>
							<dd><a href="#">安全事件</a></dd>
						</dl>
					</li>
					<li><a class="link" href="#">通知公告</a></li>
					<li class="mainmenu"><a href="#">法律法规</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- banner -->
	<div class="y_banner">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div style="background: url(../../static/img/banner.png) top center no-repeat;height: 300px;">
				</div>
			</div>
			<div class="swiper-slide">
				<div style="background: url(../../static/img/banner.png) top center no-repeat;height: 300px;">
				</div>
			</div>
		</div>
	</div>
	<div class="part1 y_1440">
		<div class="part1_pic">
			<img src="../../static/img/example_pic.png">
		</div>
		<div class="part1_tip">
			<div class="part1_tip_head">
				<div class="tip_title">通知公告</div>
				<div class="tip_lookall">查看全部>></div>
			</div>
			<div class="part1_tip_content">
				<ul>
                    {% for notice in notices %}
                        <li>
                            <a href="#">
                                <div class="point">·</div>
                                <div class="part1_tip_title">{{ notice.name }}</div>
                                <div class="part1_tip_content_date">{{ notice.adddate }}</div>
                            </a>
                        </li>
                    {% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="part2 y_1440">
		<div class="tab1">
			<div class="tab_menu">
				<ul>
					<li class="selected">党建活动</li>
					<li>交流活动</li>
					<li>教育培训</li>
					<li>安全服务</li>
					<div class="c"></div>
				</ul>
			</div>
			<div class="tab_box">
				<div>
                    {% for building in buildings %}
                        <div class="tab1_part">
                            <div class="tab1_part_time">
                                <h1>{{ building.addtime|date_format|get_day }}</h1>
                                <p>{{ building.addtime|date_format|get_year_month }}</p>
                            </div>
                            <div class="tab1_part_content">
                                <h1>{{ building.name }}</h1>
                                <a href="#">
                                    <p>点击前往</p>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
{#					<a href="#">#}
						<div class="tab1_part_lookall">查看全部>></div>
{#					</a>#}
				</div>
				<div class="hide">
                    {% for communication in communications %}
                        <div class="tab1_part">
                            <div class="tab1_part_time">
                                <h1>{{ communication.addtime|date_format|get_day }}</h1>
                                <p>{{ communication.addtime|date_format|get_year_month }}</p>
                            </div>
                            <div class="tab1_part_content">
                                <h1>{{ communication.name }}</h1>
                                <a href="#">
                                    <p>点击前往</p>
                                </a>
                            </div>
                        </div>
					{% endfor %}
                    <a href="#">
						<div class="tab1_part_lookall">查看全部>></div>
					</a>
				</div>
				<div class="hide">
                    {% for education in educations %}
                        <div class="tab1_part">
                            <div class="tab1_part_time">
                                <h1>{{ education.addtime|date_format|get_day }}</h1>
                                <p>{{ education.addtime|date_format|get_year_month }}</p>
                            </div>
                            <div class="tab1_part_content">
                                <h1>{{ education.name }}</h1>
                                <a href="#">
                                    <p>点击前往</p>
                                </a>
                            </div>
                        </div>
					{% endfor %}
					<a href="#">
						<div class="tab1_part_lookall">查看全部>></div>
					</a>
				</div>
				<div class="hide">
                    {% for service in services %}
                        <div class="tab1_part">
                            <div class="tab1_part_time">
                                <h1>{{ service.addtime|date_format|get_day }}</h1>
                                <p>{{ service.addtime|date_format|get_year_month }}</p>
                            </div>
                            <div class="tab1_part_content">
                                <h1>{{ service.name }}</h1>
                                <a href="#">
                                    <p>点击前往</p>
                                </a>
                            </div>
                        </div>
					{% endfor %}
					<a href="#">
						<div class="tab1_part_lookall">查看全部>></div>
					</a>
				</div>
			</div>
		</div>
		<div class="tab2">
			<div class="tab_menu">
				<ul>
					<li class="selected">热点关注</li>
					<li>网安动态</li>
					<li>漏洞发布</li>
					<li>安全事件</li>
					<div class="c"></div>
				</ul>
			</div>
			<div class="tab_box">
				<div>
					{% for hot_concern in hot_concerns %}
                        <a href="#">
                            <div class="tab2_part">
                                <div class="tab2_part_time">
                                    <h1>{{ hot_concern.addtime|date_format|get_day }}</h1>
                                    <p>{{ hot_concern.addtime|date_format|get_year_month }}</p>
                                </div>
                                <div class="tab2_part_content">
                                    <h1>{{ hot_concern.name}}</h1>
                                    <p>为加强网络安全行业交流和协作，8月20日，由辽宁省委网信办、辽宁省公安厅、辽宁省国家密码管理局、辽宁省网络社会组织联合会指导...</p>
                                </div>
                            </div>
                        </a>
					{% endfor %}
					<a href="#">
						<div class="tab2_part_lookall">查看全部>></div>
					</a>
				</div>
				<div class="hide">
					{% for security_dynamic in security_dynamics %}
                        <a href="#">
                            <div class="tab2_part">
                                <div class="tab2_part_time">
                                    <h1>{{ security_dynamic.addtime|date_format|get_day }}</h1>
                                    <p>{{ security_dynamic.addtime|date_format|get_year_month }}</p>
                                </div>
                                <div class="tab2_part_content">
                                    <h1>{{ security_dynamic.name }}</h1>
                                    <p>为加强网络安全行业交流和协作，8月20日，由辽宁省委网信办、辽宁省公安厅、辽宁省国家密码管理局、辽宁省网络社会组织联合会指导...</p>
                                </div>
                            </div>
                        </a>
					{% endfor %}
					<a href="#">
						<div class="tab2_part_lookall">查看全部>></div>
					</a>
				</div>
				<div class="hide">
                    {% for leak_release in leak_releases %}
                        <a href="#">
                            <div class="tab2_part">
                                <div class="tab2_part_time">
                                    <h1>{{ leak_release.addtime|date_format|get_day }}</h1>
                                    <p>{{ leak_release.addtime|date_format|get_year_month }}</p>
                                </div>
                                <div class="tab2_part_content">
                                    <h1>{{ leak_release.name }}</h1>
                                    <p>为加强网络安全行业交流和协作，8月20日，由辽宁省委网信办、辽宁省公安厅、辽宁省国家密码管理局、辽宁省网络社会组织联合会指导...</p>
                                </div>
                            </div>
                        </a>
					{% endfor %}
					<a href="#">
						<div class="tab2_part_lookall">查看全部>></div>
					</a>
				</div>
				<div class="hide">
					{% for security_event in security_events %}
                        <a href="#">
                            <div class="tab2_part">
                                <div class="tab2_part_time">
                                    <h1>{{ security_event.addtime|date_format|get_day }}</h1>
                                    <p>{{ security_event.addtime|date_format|get_year_month }}</p>
                                </div>
                                <div class="tab2_part_content">
                                    <h1>{{ security_event.name }}</h1>
                                    <p>为加强网络安全行业交流和协作，8月20日，由辽宁省委网信办、辽宁省公安厅、辽宁省国家密码管理局、辽宁省网络社会组织联合会指导...</p>
                                </div>
                            </div>
                        </a>
					{% endfor %}
					<a href="#">
						<div class="tab2_part_lookall">查看全部>></div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="part3 y_1440">
		<div class="normal_tip_head">
			<div class="tip_title">法律法规</div>
			<a href="#">
				<div class="tip_lookall">查看全部&gt;&gt;</div>
			</a>
		</div>
		<div>
            {% for law in laws %}
                <a href="#">
                    <div class="part3_part">
                        <div class="tab2_part_time">
                            <h1>{{ law.addtime|date_format|get_day }}</h1>
                            <p>{{ law.addtime|date_format|get_year_month}}</p>
                        </div>
                        <div class="tab2_part_content">
                            <h1>{{ law.name }}</h1>
                            <p>为加强网络安全行业交流和协作，8月20日，由辽宁省委网信办、辽宁省公安厅、辽宁省国家密码管理局、辽宁省网络社会组织联合会指导...</p>
                        </div>
                    </div>
                </a>
		    {% endfor %}
        </div>
	</div>
	<div class="part4 y_1440">
		<div class="normal_tip_head">
			<div class="tip_title">协会负责人</div>
			<a href="#">
				<div class="tip_lookall">查看全部&gt;&gt;</div>
			</a>
		</div>
		<div class="part4_example">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					{% for leader in leaders %}
                        <div class="example">
                            <div class="example_pic"><img src="{{ leader.photo }}"></div>
                            <div class="example_content">
                                <div class="example_name">姓名：<span>{{ leader.name }}</span></div>
                                <div class="example_job">职务：<span>{{ leader.duty }}</span></div>
                                <div class="example_area">工作单位：<span>{{ leader.company }}</span></div>
                            </div>
                        </div>
                    {% endfor %}
				</div>
			</div>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
	</div>
	<div class="part5 y_1440">
		<div class="normal_tip_head">
			<div class="tip_title">理事单位</div>
			<a href="#">
				<div class="tip_lookall">查看全部&gt;&gt;</div>
			</a>
		</div>
        {% for director in director_company %}
            <div class="part5_part">
                <div class="part5_pic"><img src="{{ director.logo }}"></div>
                <div class="part5_content">
                    <h1>{{ director.name }}</h1>
                    <p>{{ director.desc }}</p>
                </div>
            </div>
        {% endfor %}
	</div>
	<div class="part6 y_1440">
		<div class="normal_tip_head">
			<div class="tip_title">支持单位</div>
			<a href="#">
				<div class="tip_lookall">查看全部&gt;&gt;</div>
			</a>
		</div>
		<div class="part6_part">
            {% for support in support_company %}
                <a href="#">
                    <div><img src="{{ support.logo }}" alt="{{ support.name }}"></div>
                </a>
            {% endfor %}
		</div>
	</div>
	<div class="part7 y_1440">
		<div class="normal_tip_head">
			<div class="tip_title">会员单位</div>
			<a href="#">
				<div class="tip_lookall">查看全部&gt;&gt;</div>
			</a>
		</div>
		<div class="part7_part">
            {% for member in member_company %}
                <a href="#">
                    <div><img src="{{ member.logo }}" alt="{{ member.name }}"></div>
                </a>
            {% endfor %}
		</div>
	</div>
	<div class="foot">
		<div class="y_1440 y_flex">
			<div class="foot_logo"><img src="../../static/img/logo.png"></div>
			<div class="foot_content">
				电话：<span>029-8885-9176</span></br>
				传真：<span>029-8885-9176</span></br>
				邮箱：<span>409015382@qq.com</span></br>
				地址：<span>西安市高新区茶张路一号省信息化中心17层</span>
			</div>
			<div class="foot_ewm">
				<img src="../../static/img/ewm.png">
				<div>微信公众号</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<a href="https://beian.miit.gov.cn">Copyright © 2021 辽宁省信息网络安全协会 版权所有</a>
	</div>

</body>

<script type="text/javascript">
	// 协会工作
    $(function () {
        $('.association').click(function (event) {
            console.log('dd_event', event)
        })
    })

    let task_id = 1
    // 查看全部
    $(function () {
        $('.tab1_part_lookall').click(function (event) {
            console.log('event', event)
            console.log('task_id', task_id)

            $.ajax({
                url:"{{url_for('NetSecurity.task')}}",
                type:"GET",
                contentType: "application/json",
                data:{kind:task_id},
                dataType:"json",
                success:function (data) {
                    console.log('data', data)
                },
                error:function () {

                }
            })


        })
    })
    // 下拉选择
    $(function() {
        var $dd_association = $('.dl_association dd')
        $dd_association.click(function () {
            console.log('this', $dd_association.index(this))
        })
    })
    // tab切换
	$(function () {
		var $div_li = $("div.tab_menu ul li");
		$div_li.click(function () {
			$(this).addClass("selected")            //当前<li>元素高亮
				.siblings().removeClass("selected");  //去掉其它同辈<li>元素的高亮
			var index = $div_li.index(this);  // 获取当前点击的<li>元素 在 全部li元素中的索引。
			task_id = index + 1
            $("div.tab_box > div")   	//选取子节点。不选取子节点的话，会引起错误。如果里面还有div
				.eq(index).show()   //显示 <li>元素对应的<div>元素
				.siblings().hide(); //隐藏其它几个同辈的<div>元素
		}).hover(function () {
			$(this).addClass("hover");
		}, function () {
			$(this).removeClass("hover");
		})
		// banner
		var y_banner = new Swiper(".y_banner", {
			autoplay: true,
			loop: true,
			autoplay: {
				delay: 3000,
				stopOnLastSlide: false,
				disableOnInteraction: true,
			},
		});
		// 负责人
		var part4_example = new Swiper(".part4_example", {
			autoplay: true,
			loop: true,
			navigation: {
				nextEl: ".swiper-button-next",
				prevEl: ".swiper-button-prev",
			},
			autoplay: {
				delay: 3000,
				stopOnLastSlide: false,
				disableOnInteraction: true,
			},
		});
		// nav
		$("dl").hide();
		$("li.mainmenu").hover(function () {
			$(this).find("dl").stop(true, true);
			$(this).find("dl").slideDown();
		}, function () {
			$(this).find("dl").stop(true, true);
			$(this).find("dl").slideUp();
		});

	})
</script>

</html>