@charset "utf-8";
*{margin:0px;padding:0px;list-style-type:none;}
#left{float:left;}
#right{float:right;}
/* nav */
.nav{width:800px;height:46px;float: right;padding-top: 68px;}
.nav li{
    float: left;
    width: 120px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    position: relative;
}
.nav li a{color:rgb(0, 0, 0);text-decoration:none;display:block;font-size: 20px;}
.nav li a.link{float:left;width: 108px;}
.nav ul li a:hover{display:block;}
.nav dl{
    width: 108px;
    border-bottom: 1px solid #3299FF;
    font-size: 12px;
    position: absolute;
    top: 46px;
    left: 0px;
    z-index: 1000000;
    background: #fff;
}
.nav dl dd a{color:#000;}
.nav dl dd a:hover{color:#3299FF;border-bottom: 1px solid #3299FF;}
.nav li a:hover{
     color: #3299FF;
     border-bottom: 1px solid #3299FF;
}
/* tab切换 */
/* CSS Document */
.tab1 { width: 600px; float: left; margin-top: 30px; }
.tab2 { width: 600px; float: right; margin-top: 30px; }
.tab_menu {border-bottom:solid 1px #D7D7D7;}
.tab_menu li { float: left; text-align: center; cursor: pointer; list-style: none; width:25%;color: #38567a; font-size:20px;height: 50px;}
.tab_menu li.hover { color: #3299FF;border-bottom: 2px solid #3299FF;}
.tab_menu li.selected { color: #3299FF;border-bottom: 2px solid #3299FF;}
.tab_box { clear: both; padding-top:20px; padding-bottom:20px; }
.hide { display: none }
.c{ clear:both;}

.tab_box  dd{ width:100%; border-bottom:1px #b9cadf solid; margin:0 auto; padding-bottom:20px; padding-top:20px;}
.y_1440{
    width: 1440px;
    margin: 0 auto;
    position: relative;
}
.y_flex{
    display: flex;
    justify-content: space-around
}
.head{
    background: #fff;
    height: 180px;
    width: 100%;
}
.logo{
    padding-left: 118px;
    padding-top: 55px;
    float: left;
}
.memberlogin{
    margin-top: 15px;
    width: 89px;
    height: 29px;
    color: rgba(255, 255, 255, 100);
    font-size: 18px;
    text-align: center;
    background: #666666;
    float: right;
    line-height: 29px;
    margin-right: 20px;
}
.memberregister{
    margin-top: 15px;
    width: 89px;
    height: 29px;
    color: rgba(255, 255, 255, 100);
    font-size: 18px;
    text-align: center;
    background: #3299FF;
    float: right;
    line-height: 29px;
    margin-right: 100px;
}
.header{
    width: 100%;
    height: 60px;
}
.part1{
    height: 450px;
}
.part1_pic{
    margin-top: 70px;
    float: left;
}
.part1_pic img{
    width: 576px;
    height: 321px;
    object-fit: cover;
}
.part1_tip{
    margin-top: 60px;
    float: right;
    width: 670px;
}
.part1_tip li{
    height: 40px;
    line-height: 14px;
}
.part1_tip a{
    font-size: 16px;
}
.part1_tip li a div{
    display: inline-block;
}
.point{
    display: inline!important;
}
.part1_tip_title:hover{
    color: #3299FF;
}
.part1_tip_title{
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.part1_tip_head{
    height: 50px;
    border-bottom:1px solid #D7D7D7;
}
.tip_title{
    width: 120px;
    height: 29px;
    color: rgba(50, 153, 255, 100);
    font-size: 20px;
    text-align: left;
    float: left;
}
.tip_lookall{
    width: 154px;
    height: 40px;
    line-height: 20px;
    color: rgba(226, 152, 54, 100);
    font-size: 14px;
    text-align: right;
    float: right;
}
.part1_tip_content_date{
    float: right;
}
.part1_tip_content{
    padding-top: 20px;
}
.part2{
    height: 600px;
    margin-bottom: 60px;
}
.part3{
    height: 550px;
}
.part4{
    height: 430px;
}
.part5{
    height: 370px;
    margin-bottom: 60px;
}
.part5_part{
    margin-top: 30px;
    height: 130px;
}
.part5_pic{
    width: 120px;
    height: 127px;
    float: left;
}
.part5_pic img{
    width: 120px;
    height: 127px;
    object-fit: cover;
}
.part5_content{
    float: left;
    padding-left: 30px;
    width: 1290px;
 }
.part5_content h1{
   width: 1290px;
   font-size: 18px;
   padding-top: 10px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.part5_content p{
    width: 1290px;
    font-size: 14px;
    padding-top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
 }
.part6{
    height: 200px;
    margin-bottom: 60px;
}
.part6_part{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.part6_part div{
    width: 120px;
    height: 80px;
}
.part6_part div img{
    width: 120px;
    height: 80px;
    object-fit: cover;
}
.part7{
    height: 200px;
    margin-bottom: 60px;
}
.part7_part{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.part7_part div{
    width: 120px;
    height: 80px;
}
.part7_part div img{
    width: 120px;
    height: 80px;
    object-fit: cover;
}
.foot{
    height: 300px;
    border-top: 2px solid #D7D7D7;
}
.footer{
    height: 50px;
    background: #484848;
}
.footer a{
    text-align: center;
    color: #fff;
    display: block;
    font-size: 18px;
    line-height: 50px;
}
.foot_logo{
    padding-top: 100px;
}
.foot_content{
    width: 360px;
    color: rgba(16, 16, 16, 100);
    font-size: 16px;
    text-align: left;
    padding-top: 80px;
    line-height: 30px;
}
.foot_ewm{
    width: 354px;
    height: 107px;
    color: rgba(16, 16, 16, 100);
    font-size: 16px;
    text-align: left;
    padding-top: 50px;
}
.foot_ewm div{
    text-align: center;
    font-size: 18px;
}
.foot_ewm img{
    padding-left: 25%;
    width: 172px;
    height: 177px;
    object-fit: cover;
}
.tab1_part{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    height: 100px;
}
.tab1_part:hover .tab1_part_time h1{
    color: #3299FF;
}
.tab1_part:hover .tab1_part_time p{
    color: #3299FF;
}
.tab1_part:hover .tab1_part_content h1{
    color: #3299FF;
}
.tab1_part:hover .tab1_part_content p{
    color: #3299FF;
    border: 1px solid #3299FF;
}
.tab1_part_time{
    float: left;
}
.tab1_part_time h1{
    color: rgba(102, 102, 102, 100);
    font-size: 36px;
    text-align: center;
}
.tab1_part_time p{
    color: rgba(102, 102, 102, 100);
    font-size: 18px;
    text-align: center;
}	
.tab1_part_content{
   float: left;
   padding-left: 20px;
   width: 450px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.tab1_part_content h1{
    color: rgba(23, 36, 56, 100);
    font-size: 18px;
    text-align: left;
}
.tab1_part_content p{
    width: 80px;
    height: 24px;
    line-height: 24px;
    border-radius: 18px;
    font-size: 14px;
    text-align: center;
    border: 1px solid rgba(102, 102, 102, 100);
    margin-top: 20px;
}
.tab1_part_lookall{
    width: 154px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    background-color: rgba(253, 245, 233, 100);
    color: rgba(226, 152, 54, 100);
    font-size: 14px;
    text-align: center;
    border: 1px solid rgba(226, 152, 54, 100);
    margin-left: 25px;
}
.tab2_part{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    height: 100px;
}
.tab2_part:hover .tab2_part_time h1{
    color: #3299FF;
}
.tab2_part:hover .tab2_part_time p{
    color: #3299FF;
}
.tab2_part:hover .tab2_part_content h1{
    color: #3299FF;
}
.tab2_part:hover .tab2_part_content p{
    color: #3299FF;
}
.tab2_part_time{
    float: left;
}
.tab2_part_time h1{
    color: rgba(102, 102, 102, 100);
    font-size: 36px;
    text-align: center;
}
.tab2_part_time p{
    color: rgba(102, 102, 102, 100);
    font-size: 18px;
    text-align: center;
}	
.tab2_part_content{
   float: left;
   padding-left: 20px;
}
.tab2_part_content h1{
    color: rgba(23, 36, 56, 100);
    font-size: 18px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 450px;
}
.tab2_part_content p{
    width: 450px;
    font-size: 14px;
    text-align: left;
    margin-top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.tab2_part_lookall{
    width: 154px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    background-color: rgba(253, 245, 233, 100);
    color: rgba(226, 152, 54, 100);
    font-size: 14px;
    text-align: center;
    border: 1px solid rgba(226, 152, 54, 100);
    margin-left: 25px;
}
.normal_tip_head{
    height: 50px;
    border-bottom:1px solid #D7D7D7;
}
.part3_part{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    height: 100px;
    float: left;
    width: 680px;
}
.part3_part:hover .tab2_part_time h1{
    color: #3299FF;
}
.part3_part:hover .tab2_part_time p{
    color: #3299FF;
}
.part3_part:hover .tab2_part_content h1{
    color: #3299FF;
}
.part3_part:hover .tab2_part_content p{
    color: #3299FF;
}
.example{
  width: 380px;
  float: left;
  margin-bottom: 30px;
}
.part4_example{
    margin: 0 auto;
    width: 1150px;
    margin-top: 40px;
    overflow: hidden;
}
.example_pic{
    width: 120px;
    height: 120px;
    float: left;
}
.example_content{
    padding-left: 30px;
    float: left;
    width: 181px;
    background: rgb(243 243 243);
    height: 120px;
}
.example_pic img{
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.example_name{
   font-size: 18px;
   padding-top: 20px;
   width: 170px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.example_job{
  font-size: 14px;
  padding-top: 10px;
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.example_area{
  font-size: 14px;
  padding-top: 10px;
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}