{% extends 'NetSecurity/basic.html' %}

{% block header %}
    <div class="header">
		<div class="y_1440">
			<a href="#">
				<div class="logout">退出</div>
			</a>
			<a href="#">
				<div class="admin">ADMIN</div>
			</a>
		</div>
	</div>
{% endblock %}

{% block banner %}
    <div class="y_banner">
        <div style="background: url(../../../static/img/innerbg.png) top center no-repeat;height: 180px;">
        </div>
	</div>
{% endblock %}

{% block content %}
    <div class="y_1440 list_part">
        <div class="list_left">
            <div class="list_left_top">协会动态</div>
            <div class="tab1">
                <div class="tab_menu">
                    <ul>
                        <li>热点关注</li>
                        <li>网安动态</li>
                        <li>漏洞发布</li>
                        <li class="selected">安全事件</li>
                        <div class="c"></div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="list_right">
            <div class="tab_box">
                <div>
                    <div class="list_head">
						<div class="list_head_title">安全事件</div>
						<div class="search list_head_search">
								<input class="search_input" type="text" name="" id="" value="" placeholder="请输入...">
								<input class="btn_srh" type="button" name="submit" value="" onclick="get_search()">
						</div>
					</div>
                    {% for query in querys %}
                        <div class="tab2_part" onclick="hydt_detail({{ query.id }})">
                            <div class="tab2_part_time">
                                <h1>{{ query.addtime|date_format|get_day }}</h1>
                                <p>{{ query.addtime|date_format|get_year_month }}</p>
                            </div>
                            <div class="tab2_part_content">
                                <h1>{{ query.name }}</h1>
                                <p>{{ query.content|striptags|truncate(50) }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    {% import 'common/page.html' as pg %}
                    {{ pg.my_paginate(pagination, 'NetSecurity.industry', kind, key) }}
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
         // tab切换
        var $div_li = $("div.tab_menu ul li");
        $div_li.click(function () {
            $(this).addClass("selected")            //当前<li>元素高亮
                .siblings().removeClass("selected");  //去掉其它同辈<li>元素的高亮
            var index = $div_li.index(this);  // 获取当前点击的<li>元素 在 全部li元素中的索引。
            task_id = index + 1
            $(".show_list").show()
            $(".detail").empty()
            window.location.href = "/NetSecurity/hydt?sc=" + task_id

            $("div.tab_box > div")   	//选取子节点。不选取子节点的话，会引起错误。如果里面还有div
                .eq(index).show()   //显示 <li>元素对应的<div>元素
                .siblings().hide(); //隐藏其它几个同辈的<div>元素
        }).hover(function () {
            $(this).addClass("hover");
        }, function () {
            $(this).removeClass("hover");
        })
        // 搜索
        function get_search() {
            let $search_val = $(".search_input").val()
            window.location.href = "/NetSecurity/hydt?sc=4" + "&key=" + $search_val
        }
        // 详情
        function hydt_detail(params) {
            window.location.href = '/NetSecurity/hydtxq?sc=4&pid=' + params
        }
    </script>
{% endblock %}