{% macro my_paginate(pagination, url, kind, key) %}


<div class="container large">
    <div class="pagination">
        <ul>
            {% if pagination.has_prev %}
                <li class="page-item active">
                    {% if key %}
                        <a class="page-link" href="{{ url_for(url, sc=kind, key=key, page=pagination.page - 1) }}">上一页</a>
                    {% else %}
                        <a class="page-link" href="{{ url_for(url, sc=kind, page=pagination.page - 1) }}">上一页</a>
                    {% endif %}
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="javascript:">上一页</a>
                </li>
            {% endif %}

            {%for page in pagination.iter_pages(1,1,3,1)%}
                {%if page%}
                    <li class="page-item {%if page==pagination.page%}active{%endif%}">
                        {% if key %}
                            <a class="page-link" href="{{ url_for(url, sc=kind, key=key, page=page) }}">{{page}}</a>
                        {% else %}
                            <a class="page-link" href="{{ url_for(url, sc=kind, page=page) }}">{{page}}</a>
                        {% endif %}
                    </li>
                {%else%}
                    <li class="page-item disabled">
                        <a class="page-link" href="javascript:">&hellip;</a>
                    </li>
                {%endif%}

            {%endfor%}

            {%if pagination.has_next%}
            <li class="page-item active">
                {% if key %}
                    <a class="page-link" href="{{ url_for(url, sc=kind, key=key, page=pagination.page + 1) }}">下一页</a>
                {% else %}
                    <a class="page-link" href="{{ url_for(url, sc=kind, page=pagination.page + 1) }}">下一页</a>
                {% endif %}
            </li>
            {%else%}
            <li class="page-item disabled">
                <a class="page-link">下一页</a>
            </li>
            {%endif%}
        </ul>
    </div>
</div>

<script type="text/javascript">

</script>
{% endmacro %}