{% macro my_paginate(pagination) %}


<nav class="nav">
    <ul class="pagination">
        {% if pagination.has_prev %}
            <li class="page-item active">
                <a class="page-link" href="">上一页</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="javascript:">上一页</a>
            </li>
        {% endif %}

        {%for page in pagination.iter_pages(1,1,3,1)%}
            {%if page%}
                <li class="page-item {%if page==pagination.page%}active{%endif%}"><a class="page-link" href="javascript:">{{page}}</a></li>
            {%else%}
                <li class="page-item disabled"><a class="page-link" href="javascript:">&hellip;</a></li>
            {%endif%}

        {%endfor%}

        {%if pagination.has_next%}
        <li class="page-item active"><a class="page-link" href="javascript:">下一页</a></li>
        {%else%}
        <li class="page-item disabled"><a class="page-link" href="javascript:">下一页</a></li>
        {%endif%}
    </ul>

</nav>

{% endmacro %}