{% macro my_paginate(pagination) %}


<div class="container large">
    <div class="pagination">
        <ul>
            {{  pagination.has_prev }}
            {% if pagination.has_prev %}
                <li class="page-item active">
                    <span class="page-link" href="javascript:void(0);" οnclick="js_method({{ pagination.page }})">上一页2</span>
                </li>
            {% else %}
                <li class="page-item disabled">
    {#                <a class="page-link" href="https://www.bilibili.com/">上一页1</a>#}
                    <span class="page-link" onclick="js_method({{ pagination.page }})">上一页2</span>

                </li>
            {% endif %}

            {%for page in pagination.iter_pages(1,1,3,1)%}
                {%if page%}
                    <li class="page-item {%if page==pagination.page%}active{%endif%}"><span class="page-link" href="javascript:">{{page}}</span></li>
                {%else%}
                    <li class="page-item disabled"><span class="page-link" href="javascript:">&hellip;</span></li>
                {%endif%}

            {%endfor%}

            {%if pagination.has_next%}
            <li class="page-item active"><span class="page-link" href="javascript:">下一页</span></li>
            {%else%}
            <li class="page-item disabled"><span class="page-link" href="javascript:">下一页</span></li>
            {%endif%}
        </ul>
    </div>
</div>

<script type="text/javascript">
    function js_method(page){
        $.ajax({
            url: "{{ url_for('NetSecurity.overview_page') }}",
            type: 'GET',
            contentType: 'application/json',
            data: {page: page},
            success: function (data) {
                 //拼接字符串
                let str = '';
                //对数据做遍历，拼接到页面显示
                for(let i=0;i<data['data'].length;i++){
                    str += '<div class="branch_list">'+
                                '<div class="branch_list_pic">'+
                                    '<img src="' + data["data"][i].logo +'">' +
                                '</div>'+
                                '<div class="branch_list_content">'+
                                    '<h1>' + data["data"][i].name + '</h1>'+
                                    '<p>' + '内容' + '</p>'+
                                '</div>'+
                            '</div>';
                }
                // 放入页面
                 $('.detail_content').html(str)
            },
            error: function () {

            }
        })
    }
</script>
{% endmacro %}