<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}{% endblock %}</title>
	<link href="../../static/css/style.css" rel="stylesheet" type="text/css" />
	<link href="../../static/css/common.css" rel="stylesheet" type="text/css" />
    <link href="../../static/css/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../static/js/jquery.js"></script>
	<script type="text/javascript" src="../../static/js/nav.js"></script>
    <script type="text/javascript" src="../../static/js/swiper-bundle.min.js"></script>
    {% block css %}{% endblock %}
    <style>
		.swiper-slide img {
			width: 100%;
		}
        .point{
            float: left;
            width: 0.2rem;
            height: 0.2rem;
            padding-top: 0.15rem;
            padding-right: 0.1rem;
        }
        .point img{
            width: 0.2rem;
            height: 0.2rem;
        }
	</style>
</head>

<body>
	<div class="warp">
        <div class="swiper mySwiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
                    {% block img %}
                    {% endblock %}
                </div>
			</div>
		</div>
		<div class="content">
			{% block content %}
            {% endblock %}
		</div>
    </div>
</body>

</html>