{% extends 'Safety/base_list.html' %}

{% block title %}
    安全服务
{% endblock %}
{% block img %}
    <img src="../../static/img/aqfw.jpg">
{% endblock %}
{% block content %}
    {% for service in services %}
        <div class="list_part">
                <div class="point"><img src="../../static/img/point.png"></div>
                <a href="{{ url_for('api.service_detail', service_id = service.id) }}">
                    <div class="list_left">{{ service.title }}</div>
                </a>
			    {% if service.mold == '2' %}
                     <a href="{{ service.file_dir }}" download><div class="list_right_download_a">下载资料</div></a>
                {% else %}
				    <a href="{{ service.link }}"><div class="list_right_download_b">点击前往</div></a>
                {% endif %}
        </div>
    {% endfor %}
{% endblock %}