{% extends 'Safety/base_list.html' %}

{% block title %}
    安全服务
{% endblock %}
{% block img %}
    <img src="../../static/img/aqfw.jpg">
{% endblock %}
{% block content %}
    {% for service in services %}
        <div class="list_part">
                <div class="point"><img src="../../static/img/point.png"></div>
                <a href="{{ url_for('api.service_detail', service_id = service.id) }}">
                    <div class="list_left">{{ service.name }}</div>
                </a>

        </div>
    {% endfor %}
{% endblock %}