<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>会员注册</title>
	<link href="../../static/css/style.css" rel="stylesheet" type="text/css" />
	<link href="../../static/css/common.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="../../static/js/jquery.js"></script>
	<script type="text/javascript" src="../../static/js/nav.js"></script>
</head>

<body>
	<div class="warp">
		<div class="form-content">
			  <div class="successpic"><img src="../../static/img/duihao.png"></div>
              <div class="successtitle">注册成功！</div>
		</div>
	</div>
</body>

</html>