{% extends 'Safety/base_list.html' %}

{% block title %}
    通知公告
{% endblock %}
{% block img %}
    <img src="../../static/img/tzgg1.jpg">
{% endblock %}
{% block content %}
    {% for advise in advises %}
        <a href="{{ url_for('api.advise_detail', advise_id=advise.id) }}">
            <div class="list_part">
                <div class="point"><img src="../../static/img/point.png"></div>
                <div class="list_left">{{ advise.name }}</div>
                <div class="list_right">{{ advise.addtime|date_format }}</div>
            </div>
        </a>
    {% endfor %}
{% endblock %}